/* *{
 padding: 0px;
 margin: 0px;
} */
.container{
 width: 100%;
}
.row1{
 background-color: blue;
 width: 100%;
 height:35px;
}
.name:hover{
  /* background-color: red; */
}
.row2{
 background-color: #cfcfcf;
 width: 100%;
 height: 50px;
}
header{
 position: fixed;
 top: 0;
 left:0;
 right: 0;
 z-index: 10;
}
.search{
 /* float: right; */
 padding-top: 2px;
}
.badge{
 position: absolute;
 top: auto;
 height: 20px;
 width: 30px;
 right: 1px;
}
/* .contacts-bottom{
 margin-bottom: 200px;
} */
.contacts>.card:last-child
{
 margin-bottom: 100px;
}
.profile-msg{
 position: absolute;
 height: calc(100vh  - 105px);
 margin-left: 33%;
 margin-top: 105px;
 /* padding-top: 0px; */
}
.contacts{
 position: fixed;
 height: 100%;
 top: 0;
 margin-bottom: 30px;
 left: 0;
 width: 33%;
 margin-top: 105px;
 overflow-y: auto;
 background-color: grey;
}
/* .profile{
 background-color: #black;
 height: 50px;
} */
/* .messages{
 height:
 background-color: yellow;

} */

.new_message{
 position: fixed;
 bottom: 0;
 right: 0;
 left: 0;
 margin: 1rem;
 margin-left: calc(33% + 1rem);
}
.card-img{
 border-radius: 50%;
 height: 110px;
 width: 110px;
 display: block;
}

.online-status{
 display: block;
 margin-left: 1.5rem;
}

.online-status i{
 font-size: .6em;
}
.time{
 position: absolute;
 float: right;
 right: 0;
}

.row2{
 display: flex;
 align-items: center;
}

.vibes{
 display: inline-block;
}
.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
}
.chat {
 /* width: 490px; */
 width: 95%;
 float: left;
 /* background: #F2F5F8; */
 border-top-right-radius: 5px;
 border-bottom-right-radius: 5px;
 color: #434651;
}
.chat .chat-header {
background-color:#1a1c1f;
 padding: 20px;
 border-bottom: 2px solid white;
}
.chat .chat-header img {
 float: left;
}
.chat .chat-header .chat-about {
 float: left;
 padding-left: 10px;
 margin-top: 6px;
}
.chat .chat-header .chat-with {
 font-weight: bold;
 font-size: 16px;
}
.chat .chat-header .chat-num-messages {
 color: #92959E;
}
.chat .chat-header{
 /* float:left; */
 color: #D8DADF;
 font-size: 20px;
 margin-top: 12px;
}
.chat .chat-history {
 padding: 30px 30px 20px;
 border-bottom: 2px solid white;
 overflow-y: scroll;
 /* height: 575px; */
}
.chat .chat-history .message-data {
 margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
 color: #a8aab1;
 padding-left: 6px;
}
.chat .chat-history .message {
 color: white;
 padding: 18px 20px;
 line-height: 26px;
 font-size: 16px;
 border-radius: 7px;
 margin-bottom: 30px;
 width: 90%;
 position: relative;
}
.chat .chat-history .message:after {
 bottom: 100%;
 left: 7%;
 border: solid transparent;
 content: " ";
 height: 0;
 width: 0;
 position: absolute;
 pointer-events: none;
 border-bottom-color: #86BB71;
 border-width: 10px;
 margin-left: -10px;
}
.chat .chat-history .my-message {
 background: #86BB71;
}
.chat .chat-history .other-message {
 background: #94C2ED;
}
.chat .chat-history .other-message:after {
 border-bottom-color: #94C2ED;
 left: 93%;
}
.chat .chat-message {
 padding: 30px;
}
.chat .chat-message  {
 width: 100%;
 border: none;
 padding: 10px 20px;
 font: 14px/22px "Lato", Arial, sans-serif;
 margin-bottom: 10px;
 border-radius: 5px;
 resize: none;
}
.msg_profile{
 height:40px;
 width: 40px;
 border-radius: 50%;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
 font-size: 16px;
 color: gray;
 cursor: pointer;
}
.chat .chat-message button {
 float: right;
 color: #94C2ED;
 font-size: 16px;
 text-transform: uppercase;
 border: none;
 cursor: pointer;
 font-weight: bold;
 background: #F2F5F8;
}
.chat .chat-message button:hover {
 color: #75b1e8;
}

.online, .offline, .me {
 margin-right: 3px;
 font-size: 10px;
}
/* design for smaller devices */

@media screen and (max-width: 700px) {
 body{
   font-size: 12px;
 }
 /* .msg_profile{
   width: 100%;
 } */
 .search{
   display: inline;
   position: absolute;
   /* background-color: #478; */
   margin-right: 200px;
   width: 50%;
   padding-top: 1px;
   padding-bottom: 2px;
   padding-right: 1px;
   bottom:  0;
 }
 #msgdisplay{
   width: 95%;
   margin-left: 15%;
 }

 .contacts{
   width: 80%;
   margin-left: 10%;
 }
 .search-btn{
   position: absolute;
   margin-right: 0px;
   padding-left: 2px;
   padding-top: 1px;
   padding-bottom: 2px;

   right: 0;
   bottom: 0;

   /* margin-right: 0px; */
 }
 /* .form-inline{
   height: 10px;
   display: inline-block;
 }
 .search , .search-btn{
   width: 40px;
   height: 20px;
   display: inline-block;
 }
 .search-btn{
   position: absolute;
   left: 0;
   height: 20px;
   font-size: 12px;
    width: 30px;
   background-color: green;
 } */
}
