{% load static %}
<!DOCTYPE html>
<html >
<head>
	<title>Vibes | Home</title>

	<link rel="stylesheet" href="{% static 'home/styless.css' %}"/>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

</head>
<body>
	 <nav>

<!---add other links here-->



  </nav>
  <div class = "LOGO">

  </div>


  <div class = "Desc">
  	<p>
   <img src="{% static 'home/images/logo.jpg' %}" alt="image" id="photo" vibes>

</p>
<div class= "welcome">
	<h3>
		Welcome to vibes .
	</h3>
	</div>
   <div class = "dropdown">
		 {% if loginstatus %}
		 <button class = "create">
			 <a href="{% url 'login:logout' %}">Signout</a>
		 </button>
		 {% else %}
		 		<button class = "create">
					<a href="{% url 'login:login' %}">Signin</a>
				</button>
				<button class = "create">
					<a href="{% url 'signup:signup' %}">Signup</a>
				</button>

		 {% endif %}
</div>

	<!--div class="Search">
	 <input type="text" placeholder="Search on topics, find people and events" >

	</div>-->
  <div class ="row">
  	<div class ="column">
  		<div class = "card"> <!--img src="public/images/image1.jpg" alt="image" id="profile" >--> <br>
  		Join Groups and engage in hottest topics with people around you<br>
  	<button class = "Learn" onclick="window.location.href={% url 'groups:groups' %}"> Learn More</button>
</div>
  	</div>
	<div class ="row">
  	<div class ="column">
  		<div class = "card">  <!--img src="public/images/239.jpg" alt="image" id="profile" vibes>--> <br>
  		 You can buy quality products from people around you via vibes, the most effeciant way to do small scale business<br>
  		<button class = "Learn" onclick="window.location.href={% url 'business:business' %}"> Learn More</button>
</div>
  	</div>
  	<div class ="row">
   	<div class ="column">
  		<div class = "card">  <!--img src="public/images/pic.jpg" alt="image" id="profile" vibes>-->  <br>
  		  Locate People around you and engage in general chats. To do it, you are recommended to  allow vibes to access your device location<br>
  		<button class = "Learn" onclick="window.location.href={% url 'discover:discover' %}"> Learn More</button>
</div>
  	</div>
  	 <div class ="row">
  	<div class ="column">
  		<div class = "card">  <!--img src="public/images/a.jpg" alt="image" id="profile" vibes>--> <br>
  		 Find trending news,videos and events happenning right in your vicinity.<br><button class = "Learn"  onclick="window.location.href={% url 'home:home' %}"> Learn More</button>
 </div>
  	</div>
  	 </div>
</body>
<footer>
              <div class="row"><br><br>
                <div class="col-md-4">
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                </div>
                <div class="col-md-4">
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>

                </div>
              </div>
            </footer>

</html>
