<html >
<head>

	<title>login</title>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="styles.css"/>
</head>



<body>
	<div class="bon">
		<div class="bony">

	<form action="welcome.html">

		<h3> Login Here</h3>

		<input type="text" placeholder="username" required/>

		<input type="password" placeholder="password" required/>
<p>
		<input type="checkbox"/><span>keep me sign in</span>

		<span class="forgot"><a href="Forgot.html"><i><b>forgot password?</b></i></a></span>

	</p>
		<input type="submit" value="login">

		<p style="text-align:center">
			<span>New member?</span><a class="link" href="Signup.html"><i><b>Signup</b></i></a>
		</p>
	</form>
	</div>
</div>

</body>
</html>
