<html >
<head>
	<title>Register</title>
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="styles.css"/>

</head>
<body>
	 <nav>

  <!---add other links here-->

  </nav>
	<div class="bon">
		<div class="bony">
			<form action="thanks.html" method="post">

				<h2>SignUp Today</h2>
				<input type="text" placeholder="Your full name" required>
				<input type="text" placeholder="Username" required>
				<input type="text"  placeholder="Eddress" required>
				<input type="password" placeholder="Password" required>
				<input type="password"  placeholder="confirm password" required>
				<input type="submit" value="signup">
				<p style="text-aligned:center">
					<span>Already have an account?</span><a class="link" href="login.html"><i ><b>Sign In</b></i></a>
				</p>


	</div>

</body>
<footer>
              <div class="row"><br><br>
                <div class="col-md-4">
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                </div>
                <div class="col-md-4">
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>
                  <p>Contacts</p>

                </div>
              </div>
            </footer>
</html>
