<html >
<head>
	<meta charset="	UTF-8">
	<meta lang="en" name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">
	<link rel="stylesheet" href="style.css"/>
</head>

<body>
	<div class="bon">
		<div class="bony">
			<h4>Thankyou for creating an account</h4>
			<p style="text-align: ">
				We have send  a verification link via your Email Address please confirm.
			</p>
			<p style="text-align:center";>
				<a href="login.html"><i><b>Sign In Now</b></i></a>

				</p>

</body>
</html>
