*{
	padding:0px;
	margin:0px;
	font-family:Poppins,arial,sans-serif;
	box-sizing:border-box;
	font-size: 16px;
}


/* new styles */
body{
	display: flex;
	background-color:#fcfcfc;
	min-height: 100vh;
}
.left-part{
	width: 56%;
	overflow: hidden;
}
.left-part img{
	width: 100%;
	height: 100%;
}
.right-part{
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}
.formClass{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: .7;
	width: 100%;
	position: relative;
}
.details{
	flex-grow: .6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	width: 80%;
	align-items: center;
	max-width: 600px;
}
.inputDiv{
	max-width: 300px;
    min-width: 200px;
	background: white;
    border-radius: 25px;
	border: 2px solid #1dadb6;
	width: 60%;
	padding: 8px;
	position: relative;
}
.inputDiv >input {
	text-align: center;
}
.inputlabel{
	
	color: red;
    width: max-content;
    top: 12%;
    position: absolute;
    background: none;

}
.leftImage{
	animation: trans 50s 0s ease-in forwards;
}
.animate{
	animation: labelAnime 7s .1s ease-in-out forwards;

}
.input:active{
	background-color: white;
}
.sign{
	width: 50%;
	margin: 10px;
}
.submit-btn{
	width: 100%;
    padding: 7px;
    border: none;
    border-radius: 25px;
    background: #1dadb6;
	cursor: pointer;
	text-transform: uppercase;
}
.submit-btn:hover{
background:#116066;
}
.validation{
	color: #187075;
	    font-weight: 500;
    letter-spacing: .5px;
	font-size: 15px;

    position: absolute;
    top: -10px;
    left: 5%;
    background-color: #fff;
	padding: 0px 5px;
	animation: labelAnime .7s .1s ease-in-out forwards;
}
.input{
	width: 100%;
	border: none;
	outline: none;
	background-color: #fff! important;
	padding: 0;
	margin: 0;
}
input{
	background-color: #fff;
}





a{
	color: #28b5e0;
	text-decoration:none;
	font-weight:bold;
}

.link{
	color:#28b5e0;
	font-weight: 700;
}

#forgot{
	color: #0f0;

}

p{
	margin:5px 0px;
}


/* form{
	margin-top: 2%;
} */
.bon{
	height: auto;
min-height:60vh;
width:50%;
margin: 2% auto;
background-color: white;
border: 1px solid #c0c0c0;
padding-top:10px;

 }

.bony{
	padding:5px 20px 20px;
	height: auto;
}

.bony>h3:first-child
{
	margin-top: 20%;
}

.bony>h1,h2,h3,h4,h5,h6{
	text-align:center;
   margin: 5px 0px;
}



button{

	text-align: center;

}


 #submit{
	border: 2px solid #1dadb6;
	 background: #1dadb6;

	margin: 0px auto;
	color:white;

	cursor: pointer;
}

#photo{
	width: 100px;
	height: 100px;
	border-radius:50%;
	background: green;
	border: 2px solid #3399ff;
	margin: 0;
}

.snap {
	position: fixed;
	width: 100vw;
	height: 100vh;
	/* background-color: #2079718c; */
	background-color: #207971d9;
	z-index: 10;
	top: 0px;
	left: 0px;
	animation: swapspinner 2s 1;
	display: none;
}

.snap>.spinnobject {
	position: absolute;
	top: 41%;
	left: 38%;
	font-size: 60px;
}
.spinner-man {
	position: absolute;
	top: 30%;
	left: 45%;
	right: 45%;
	font-size: 60px;
	display: block;
	width: 110px;
	height: 110px;
	border-radius: 50%;
	border:3px solid grey;
	border-top: 3px solid #add8e6;
	animation: spinneranim 3s  infinite;
}
@keyframes trans{
	0%{
		transform: scale(1.2);
	}
	100%{
		transform: none;
	}
}

@keyframes spinneranim {
	0% {
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(360deg);
	}
}
@keyframes labelAnime{
0%{
transform: translateY(2rem);
opacity: 0;
}
100%{
	transform: none;
	opacity: 1;

}
}
@media only screen and (max-width:750px) {
  /* .bony {
		width: 100%;
	}
	.bon {
		width: 85%;
	}
	.input {
		width: 100%;
		display: block;
		margin: 20px auto;
	} */
	*{
		font-size: 15px;
	}
	.left-part{
		display: none;
	}
	.details{
		flex-grow: 1;
	}
	.right-part{
		color: #fff;
		width: 100%;
		background: url("../signup/images/network.jpg");
		background-size: cover;
		background-position: bottom;
	}
	.input {
		width: 88%;
		padding: 5px;
	}
	.submit-btn{
		font-weight: 500;
		padding: 8px;
	}
	#photo{
		width: 84px;
		height: 84px;
	}
}
