*{
	padding:0px;
	margin:0px;
	font-family:arial;
	box-sizing:border-box;
}

body{
	background-color:   #ffffff;
	background-image: url("./images/vibes.jpg");
	background-position:center;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	width: 100%;
	height: 100vh;
}

.Desc{
	width: 100%;
}

img{
	display: block;
}

a{
	text-decoration:none;
	font-weight:600;
 }

.link{
	color:#3b5998;
}

p{
	margin:5px 0px;
	letter-spacing: 1px;

}

input[type="text"],input[type="password"],input[type="submit"],input[type="email"]
{
	width: 100%;
	padding: 10px;
	margin: 10px 0px ;
	border: 1px solid #c0c0c0;

}

input[type="submit"]{
	border: 2px solid #3b5998;
	background-color:#3b5998;
	color:white;
	font-size: 19px;
	font-weight: 600;
	cursor: pointer;
}

.dropbtn {
	background-color: #fff;
	border-style: none;
	position: relative;
	float: right;
	font-family:arial;
	font-weight: 600;
	font-size: 16px;
	border-radius: 2px;
}

.dropdown{
	position: right;
	display: inline-block;
	padding-bottom: 5px;
}

/* nav{
	width:100%;
	background:  #ffffff;
	position:fixed;
	top:0px;
	transition:.5s;
  padding: 20px;
  z-index: 2;
  display: inline-flex;
  text-align: left;
	border-bottom: 1px solid #c0c0c0;
} */

.row{
	margin-top: 70px;
	font-family: Arial, Helvetica, sans-serif;
	border-color: 1px solid #3399ff ;
	border-radius: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 15px;
	position: relative;
	margin : 0 5px;
	margin-left: 10%;
	/* display: grid;
	grid-template-columns: auto auto; */


}

.column{
	float: left;
	padding: 0 10px;
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;

}

.row:after{
	content: "";
	display: table;
	clear: both;
	margin-top: 20px;

}
.card{
	display: inline-grid;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	/* padding: 5px 16px 5px 16px; */
	text-align:center;
	font-family:arial;
	color: #a4f7a2;
	background-color: rgba(17, 43, 70, 0.884);
	border-bottom:  3px solid #25ee0b;
	padding-top: 5px;
	position:center;
	border-top: 1px solid #c0c0c0;
	border-left:  1px solid#c0c0c0;
	border-right: 1px solid #c0c0c0;
	border-radius: 12px 12px 12px 12px ;
	font-weight: bold;
	font-size: 0.9em;
	transition: .5s;
	width: 250px;
	height: 150px;
}
#photo{
	margin-top: 30px;
}

#photo>img{
	margin: 0px auto;
	width: 100px;
	height: 100px;
	border-radius:300px;
	background: green;
	border: 2px solid #3399ff;
	animation-name: photo;
	animation-duration: 4s;
	display: block;
	margin-top:20px;
}



@media only screen and (max-width: 400px){
	.Desc{
		margin-top: 20px;
		/* display: block; doesnt seem to work */
		background-size: cover;
		background-position: center;
		height: 100%;
		width:100%;
	}
	.Desc .row .column{
			width: 100%;
			display: block;
			margin-bottom: 10px;
			text-align: center;
		}
	.dropdown{
		display: none;
	}
	.welcome{
		padding:0;
		color:#066e04;
		font-size: 25px;
		width: 70%
	}
	#photo>img{
		display: block;
	}
}


@media only screen and (max-width: 1200px){
	.row{
		display: grid;
		/* grid-template-columns: auto auto; */
		margin-top: 0;
		margin-left: 10px;
	}
	.Desc{
		width: 100%;
		height: 100%;
	}
}

@media only screen and (min-width: 1200px){
	.row{
		margin-top: 70px;
		font-family: Arial, Helvetica, sans-serif;
		border-color: 1px solid #3399ff ;
		border-radius: 5px;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-left: 20px;
		position: relative;
		width: 96vw;
		display: flex;
	}

	.column{
		flex: 1;
	}
}

#photo>img{
	margin: 0px auto;
	width: 100px;
	height: 100px;
	border-radius:300px;
	background: green;
	/* position:center; */
	/* margin-left:45%; */
	border: 2px solid #3399ff;
	animation-name: photo;
	animation-duration: 4s;
	display: block;
	margin-top:20px;
}

	@keyframes photo{
		from{
			border: 2px solid white;
		}
		to {
			border: 2px solid #3399ff;
		}
}
#profile{
	width: 200px;
	height: 100px;
}
.welcome{
	color:  #06a304;
	margin-top: 65px;

	text-align:center;
	/* display: inline; */
	text-orientation:center;
	width: 50%;
	/* height :20%; */
	animation-name: example;
	animation-duration: 4s;
	margin-left: 25%;
	font-size: 25px;
	font-family: Helvetica;
	animation-delay: 0s;
	border-color: 1px solid yellow;
	background-color: none;


}
@keyframes example{

	from{ font-size:2px; }
	to { font-size: 25px;}
}

@keyframes linksAnimation{
	0%{
		border-style: solid;
		border-top:1px #2c16ce;

	}
	30%{
		border-style: solid;
		border-right: 1px #2c16ce;
	}
	70%{
		border-style: solid;
		border-bottom: 1px #2c16ce;
	}
	100%{
		border-style: solid;
		border-left: 1px #2c16ce;
	}

}
.Learn{
	border-style:none;
	/* position: relative; */
	color: rgb(246, 247, 250);
	background-color:#3399ff;
	/* margin-top: 40px; */
	width: 70%;
	height: 30px;
	display: block;
	border-radius: 15px;
	right:0;
	text-align: center;
	bottom:0px;

}
.Learn:hover{
	background-color:#3517f7;
	color: white;
	width: 80%;
	transition-duration: 2s;
	font-weight: 200;
}


.create{
	display: block;
	height: 30px;
	background-color: #3399ff;
	border-style: none;
	border-radius: 5px;
	color: white;
	margin: 0px auto;
}

.create>a{
	color: #fff;
	padding: 10px;
	margin: 1%;
}


.one{
	display: block;
	width:100vw;
	margin: 0px auto;
}

.two{
	width: 30vw;
	margin: 0px auto;
}

.signup {
	height: 30px;
	background-color: #3399ff;
	border-style: none;
	border-radius: 5px;
		color: white;
}
.search {
	width: 50%;
	margin-left: 30%;
	font-family: arial;
	color:red;
	border-radius:10px;
	box-shadow: 2px;
}
.links{
	display:flex;
	text-align: center;
}
footer{
	position: fixed;
	margin-top: 50%;
	width: 100%;
	background-color:#000000;
}
